* {
  text-align: center;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
nav a {
  padding: 0 10px;
  background: #6EC7EC;
}
figcaption {
  font-size: 12pt;
}
#featured-property p {
width: 800px;
margin: auto;
padding:0 0 20px 0;
}
#details div {
  width: 25%;
  float: left;
  background: #6EC7EC;
}